<div class="user-corner-content">
  <div>
    <h3 class="text-center">My infos</h3>
    <p>
      <div class="coach">
        <div class="team-avatar">
          <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-large"%>
        </div>
        <div class="team-infos">
            <div class="name">Jean DUPONT</div>
            <div class="position">Coach</div>

        </div>
      </div>
    </p>

    <p>
      <div class="hunter">
        <div class="team-avatar">
          <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-large"%>
        </div>
        <div class="team-infos">
            <div class="name">Michel MARTIN</div>
            <div class="position">Hunter</div>

        </div>
      </div>
    </p>
  </div>

  <div>
    <h3 class="text-center">My tests</h3>
  </div>
</div>
