<div class="wrapper-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" id="user-corner">
          <h2 class="text-center">My corner</h2>
          <div class="user-corner-content">
            <div>
              <h3>My infos</h3>
            </div>
            <div>
              <h3>My tests</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card" id="calendar">
          <h2 class="text-center">Calendar</h2>
          <%= month_calendar do |date| %>
            <%= date %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
