<div class="wrapper-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" id="user-corner">
          <h2 class="text-center">My corner</h2>
          <div class="user-corner-content">
            <div>
              <h3>My infos</h3>
            </div>
            <div>
              <h3>My tests</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card" id="calendar">
          <h2 class="text-center">Calendar</h2>
          <%= week_calendar number_of_weeks: 2, events: @meetings do |date, meetings| %>
            <div class="date-square">
              <a href="#" class="date-link" data-date_id="<%=date.jd%>">
              </a>
                <div class="number">
                  <%= date.day%>
                </div>
                <% meetings.each do |meeting| %>
                  <div class="meeting" style="color:green;">
                    <%= meeting.name %>
                  </div>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $(".today .number").addClass("badge badge-red");
  });
</script>
<%end%>
