
// General

.simple-calendar {
  border-radius: 4px;
  background-color: #ffffff;
  color: #333333;
  font-size:14px;
  padding:5px;

  a {
    text-decoration:none;
    color: #FF462B;
  }
}


.simple-calendar table {
  border: none;
}
// Heading week
.table > thead > tr > th {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  text-align:center;
  padding-bottom: 23px;
  border:none;
}



//
.number {
  font-weight:bold;
}


// A modifier
.simple-calendar td {
    border: 1px solid $gray-lighter;
}

.simple-calendar .prev-month {
  opacity: 0.5;
  background: #CCCCCC;
}

.simple-calendar .next-month {
  opacity: 0.5;
  background: #CCCCCC;
}

.calendar-heading {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  // border: 1px solid $gray-lighter;
  // border-radius: 5px 5px 0 0;
  margin-bottom: 22px;
}

.simple-calendar .today {
  background: none;
}

.date-square {
  height:100%;
  position: relative;
}
.date-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.date-link:hover {

}
// gestion des cases
.simple-calendar td {
  border:none;
}

.simple-calendar .day {
  height:58px;
}
// Gestion du special

.special {
  margin:auto;
  width:30px;
}
.hovered {
  text-decoration:underline;
  background-color: #EEEDE9;
  border-radius: 12px;
}

.selected {
  background-color: #F5A1A3!important;
  color: #ffffff;
  border-radius:25%;
}
